body {
  background-color: #FF5A5A;
  height: 100%;
  font-family: 'tradegothiclt-bold', sans-serif;
  
  
}

h1 {
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}

p2{
  font-size:1em;
  color: white;
  font-family: 'tradegothiclt-bold', sans-serif;
}

img {
  width: 100%;
  height: auto;
}


span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
