body {
  background-color: #FF5A5A;
  height: 100%;
  font-family: 'tradegothiclt-bold', sans-serif;
  }

h1 {
  font-size: 4em;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.links{
  font-size:2em;
  color: black;
  font-family: 'tradegothiclt-bold';
  text-align:center;
  
}

 .center {
  display: block;
  width: 400;
  height: 225;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
